@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 56 73% 95%; /* #FCFBE8 */
    --foreground: 240 10% 3.9%;
    --card: 56 73% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 56 73% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 47 100% 69%; /* #FFDA63 */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 56 30% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 56 30% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 31 74% 65%; /* #E6A063 */
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 56 30% 85%;
    --input: 56 30% 85%;
    --ring: 47 100% 69%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 98%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 100% 69%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 31 74% 65%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 47 100% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
